* {
	padding: 0px;
	margin: 0px;
  scroll-behavior: smooth
}



.carousel-caption {
	color: #000000; /* gray */
	text-shadow: 1px 1px 15px #000000;
	background: rgba(250,250,250,0.4);
}

h3 {
    font-family: 'Arvo', serif;
      color: #000000;
}

.card-title {
      font-family: 'Arvo', serif;
}

h1 {
      font-family: 'Arvo', serif;
}

p {
    font-family: 'Red Hat Display', sans-serif;
      color: #000000;   
}

.btn {
      font-family: 'Red Hat Display', sans-serif;  
}

.card-text {
    font-family: 'Red Hat Display', sans-serif;   
}

.list-inline-item span {
  color: red;
}

.fab {
  color: red;
}

span {
  color: black;
  font-family: 'Red Hat Display', sans-serif;   
}

.btn {
  font-family: 'Red Hat Display', sans-serif;   
}

  @media only screen and (min-width: 960px) {

  .carousel-item {
    width: auto;
    height: 80vh;
    max-height: 80vh;
  }

}

/*mobile*/
@media only screen and (max-width: 425px) {



}

/*tablet*/
@media only screen and (min-width: 426px) and (max-width: 960px) {


}


.navbar-brand {
  font-family: 'Arvo', serif;
}

.navbar {
  font-family: 'Red Hat Display', sans-serif;   

}

.navbar form {
  font-family: 'Red Hat Display', sans-serif;   
}

nav {

  text-shadow: 1px 1px 15px #000000; /* black */

}

.nav-item {
  text-align: center;

}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

