*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth
}


.navbar {
	background-color:black;
	z-index: 2;
	position: absolute;
}

/*navbar*/
.navbar-brand {
	font-family: 'Arvo', serif;
}

.navbar {
	font-family: 'Red Hat Display', sans-serif; 	

}

.navbar form {
	font-family: 'Red Hat Display', sans-serif; 	
}

nav {
	text-shadow: 1px 1px 15px #000000; /* black */
}

header.masthead {
	margin-bottom: 50px;
	background: no-repeat center center;
	background-color: #868e96;
	background-attachment: scroll;
	position: relative;
	background-size: cover;
}

header.masthead .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #212529;
	opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
	padding: 200px 0 150px;
	color: white;
	font-family: 'Arvo', serif;
}

@media only screen and (min-width: 768px) {
	header.masthead .page-heading,
	header.masthead .post-heading,
	header.masthead .site-heading {
		padding: 200px 0;
	}
}

header.masthead .page-heading,
header.masthead .site-heading {
	text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
	font-size: 50px;
	margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.1;
	display: block;
	margin: 10px 0 0;
	font-family: 'Arvo', serif;
}

@media only screen and (min-width: 768px) {
	header.masthead .page-heading h1,
	header.masthead .site-heading h1 {
		font-size: 80px;
	}
}

header.masthead .post-heading h1 {
	font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
	line-height: 1.1;
	display: block;
}

header.masthead .post-heading .subheading {
	font-size: 24px;
	font-weight: 600;
	margin: 10px 0 30px;
	font-family: 'Red Hat Display', sans-serif
}

header.masthead .post-heading .meta {
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
	color: #fff;
}

@media only screen and (min-width: 768px) {
	header.masthead .post-heading h1 {
		font-size: 55px;
	}
	header.masthead .post-heading .subheading {
		font-size: 30px;
	}
}


.jumbotron h1 {
	text-align: center;
	font-family: 'Arvo', serif;
}

.list-inline-item span {
	color: red;
}

.copyright {
	text-align: center;
}

#form1 {
	font-family: 'Red Hat Display', sans-serif
}

.jumbotron {
	background-color: gray;
}

#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 30px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}

p {
	font-family: 'Red Hat Display', sans-serif
}

@media only screen and (min-width: 960px) {


}

/*mobile*/
@media only screen and (max-width: 425px) {

	header.masthead .page-heading,
	header.masthead .post-heading, {
		padding: 50px 0 40px;
		margin:50px 0 30px 0px;
		color: white;
		font-family: 'Arvo', serif;



	}


	.nav-item {
		text-align: center;
	}
	.form-inline {
		justify-content: center;
	}

	.form-inline input {
		max-width: 85%;
	}


}



/*tablet*/
@media only screen and (min-width: 426px) and (max-width: 960px) {


	header.masthead .page-heading,
	header.masthead .post-heading, {
		padding: 250px 0 150px;
		margin:100px 0 100px;
		color: white;
		font-family: 'Arvo', serif;

	}


	.nav-item {
		text-align: center;
	}
	.form-inline {
		justify-content: center;
	}

	.form-inline input {
		max-width: 85%;
	}



}


