
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth
}

body {

	background: 

	/*top, transparent*/
	linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)
		),

	url(https://wallpaperplay.com/walls/full/0/e/8/163504.jpg);

	background-origin: content-box;
	background-size: all;
	background-position: center;

}

.jumbotron {

	margin: auto 0 auto;

}


.jumbotron h1 {
	font-family: 'Arvo', serif;
	color: #efefef; /* gray */
	text-shadow: 1px 1px 15px #000000; /* black */
}

.jumbotron p {
	font-family: 'Red Hat Display', sans-serif; 	
	color: #efefef; /* gray */
	text-shadow: 1px 1px 15px #000000; /* black */
}

.jumbotron button {
	
	background-color: #000001;
}

.jumbotron a {
	font-family: 'Red Hat Display', sans-serif; 	
}

/*navbar*/
.navbar-brand {
	font-family: 'Arvo', serif;
}

.navbar {
	font-family: 'Red Hat Display', sans-serif; 	

}

.navbar form {
	font-family: 'Red Hat Display', sans-serif; 	
}

nav {
	text-shadow: 1px 1px 15px #000000; /* black */
}

.nav-item {
	text-align: center;
}

/*.btn {
	padding
	margin: 0 240px 0;
	}*/

	@media only screen and (min-width: 960px) {

	}

	/*mobile*/
	@media only screen and (max-width: 425px) {

		.nav-item {
			justify-content: center;
		}

		.form-inline {
			justify-content: center;
		}

		.form-inline input {
			width: 50%;
		}
		.btn-lg {
			margin: 0 75px 0;
		}

		h1 {
			text-align: center;
		}

		p {
			text-align: center;
		}

	}
	/*tablet*/
	@media only screen and (min-width: 426px) and (max-width: 960px) {


		.jumbotron {

			margin: 10px 0 10px;
		}

		.jumbotron img {
			padding-left: 10px;
			size: 50%
		}

		.nav-item {
			justify-content: center;
		}
		.jumbotron a {
			font-family: 'Red Hat Display', sans-serif; 	
			font-size: 100%; 
		}


		.form-inline {
			justify-content: center;
		}

		.form-inline input {
			max-width: 100%;
		}
	}


