*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth
}


.navbar-brand {
	font-family: 'Arvo', serif;
}

.navbar {
	font-family: 'Red Hat Display', sans-serif; 	
	height: 8vh;
}

.navbar form {
	font-family: 'Red Hat Display', sans-serif; 	
}

nav {
	text-shadow: 1px 1px 15px #000000; /* black */
}

header.masthead {
	margin-bottom: 50px;
	background: no-repeat center center;
	background-color: #868e96;
	background-attachment: scroll;
	background-position: absolute;
	position: relative;
	background-size: cover;
	background-image: url('../images/classroom.jpg');
	height: 92vh;
}

header.masthead .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #212529;
	opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .site-heading {
	padding: 50px 0 100px;
	margin: auto 0 auto;
	color: white;
	font-family: 'Red Hat Display', sans-serif;

}

header.masthead .page-heading,
header.masthead .site-heading {
	text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
	font-size: 50px;
	margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.1;
	display: block;
	margin: 10px 0 0;
}

header.masthead .post-heading .subheading {
	line-height: 1.1;
	display: block;
}

header.masthead .subheading {
	font-size: 24px;
	font-weight: 600;
	margin: 10px 0 30px;
}

.fab {
	color: black;
}



#myBtn {
	display: none; 
	position: fixed; 
	bottom: 20px; 
	right: 30px;
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: black; 
	color: white; 
	cursor: pointer; 
	padding: 15px; 
	border-radius: 30px; 
	font-size: 18px; 
}

#myBtn:hover {
	background-color: #555; 
}

#image1 {
	width: 400px;

}

.col-xs-7 h1 {
	font-family: 'Arvo', serif;
}

.col-xs-7 h5 {
	font-family: 'Red Hat Display', sans-serif
}

.col-xs-7 p {
	font-family: 'Red Hat Display', sans-serif
}

.col-lg-8 h1 {
	font-family: 'Arvo', serif;
	text-align: center;
}

.col-lg-8 p {
	font-family: 'Red Hat Display', sans-serif
}

.copyright {
	text-align: center;
}

.list-inline-item span {
	color: red;
}

.jumbotron {
	background-color:rgba(179, 0, 0, 0.75);
}

@media only screen and (min-width: 960px) {

}

/*mobile*/
@media only screen and (max-width: 425px) {

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
	padding: 110px 0 150px;
	margin: 30px 0 150px;
	color: white;
	font-family: 'Arvo', serif;

}


	.nav-item {
		text-align:center;
	}

	.form-inline {
		justify-content: center;
	}

	.form-inline input {
		max-width: 85%;
	}

}
/*tablet*/
@media only screen and (min-width: 426px) and (max-width: 960px) {


header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
	padding: 200px 0 150px;
	margin: 30px 0 150px;
	color: white;
	font-family: 'Arvo', serif;
	}

	header.masthead .page-heading h1,
	header.masthead .site-heading h1 {
		font-size: 80px;
	}

	.nav-item {
		text-align:center;
	}

	.form-inline {
		justify-content: center;
	}

	.form-inline input {
		max-width: 85%;
	}

}
