*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth
}


.navbar {
	background-color:rgba(0, 0, 0, 0.45);
	z-index: 2;
	position: absolute;
	height: 8vh;
}

/*navbar*/
.navbar-brand {
	font-family: 'Arvo', serif;
}

.navbar {
	font-family: 'Red Hat Display', sans-serif; 	

}

.navbar form {
	font-family: 'Red Hat Display', sans-serif; 	
}

nav {
	text-shadow: 1px 1px 15px #000000; /* black */
}

.fab {
	color: red;
}

span {
	color: black;
	font-family: 'Red Hat Display', sans-serif; 	
}

.subheading {
		color: white;
}

.btn {
	font-family: 'Red Hat Display', sans-serif; 	
}


header.masthead {
	margin-bottom: 0px;
	background: no-repeat center center;
	background-color: #868e96;
	background-attachment: scroll;
	position: relative;
	background-size: cover;
	background-image: url("../images/animeheader.png");
	height: 92vh;
}

header.masthead .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #212529;
	opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
	padding: 70px 0 100px;
	margin: auto 0 auto;
	color: white;
	font-family: 'Red Hat Display', sans-serif

}

@media only screen and (min-width: 768px) {
	header.masthead .page-heading,
	header.masthead .post-heading,
	header.masthead .site-heading {
		padding: 200px 0;
	}
}


header.masthead .page-heading,
header.masthead .site-heading {
	text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
	font-size: 50px;
	margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.1;
	display: block;
	margin: 10px 0 0;
}

.page-heading img {
	margin-top: 0;
}

@media only screen and (min-width: 768px) {
	header.masthead .page-heading h1,
	header.masthead .site-heading h1 {
		font-size: 80px;
	}
}


header.masthead .post-heading .subheading {
	line-height: 1.1;
	display: block;
}

header.masthead .subheading {
	font-size: 24px;
	font-weight: 600;
	margin: 10px 0 30px;
}


	#image1 {
		width: 400px;

	}

	.col-xs-7 h1 {
		font-family: 'Arvo', serif;
	}

	.col-xs-7 h5 {
		font-family: 'Red Hat Display', sans-serif
	}

	.col-xs-7 p {
		font-family: 'Red Hat Display', sans-serif
	}

	.col-lg-8 h1 {
		font-family: 'Arvo', serif;
		text-align: center;
	}

	.col-lg-8 p {
		font-family: 'Red Hat Display', sans-serif
	}

	.copyright {
		text-align: center;
	}

	.list-inline-item span {
		color: red;
	}

/*	.card img {
		max-width: auto;
		height: 300px;
		}*/

/*	#recom {
		max-width: auto;
		height: 200px;
		}*/

		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: rgba(179, 0, 0, 0.75);
		}

		.overlay:hover {

			opacity: 1;
		}

		.text {
			color: white;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
			font-family: 'Red Hat Display', sans-serif
		}


		p {
			font-family: 'Red Hat Display', sans-serif
		}

		h1 {
			font-family: 'Arvo', serif;
		}

		h5 {
			font-family: 'Arvo', serif;
		}

		strong {
			font-family: 'Red Hat Display', sans-serif
		}
		/*mobile*/
		@media only screen and (max-width: 425px) {

			header.masthead .page-heading h1,
			header.masthead .site-heading h1 {
				margin-top: 20vh;
				margin-bottom: auto;
			}

			.nav-item {
				text-align:center;
			}


/*			.card img {
				width: auto;
				height: 200px;
				}*/

				.form-inline {
					justify-content: center;
				}

				.form-inline input {
					max-width: 85%;
				}


			}
			/*tablet*/
			@media only screen and (min-width: 426px) and (max-width: 960px) {


/*			.card img {
				width: 257px;
				height: 200px;
				}*/

				.nav-item {
					text-align: center;
				}
				.form-inline {
					justify-content: center;
				}

				.form-inline input {
					max-width: 85%;
				}


			}

			@media only screen and (min-width: 960px) {

			}